/* keyframes and animations */
@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.newsletter {
  --flow-space: var(--step-0);
  padding: calc(1.5 * var(--padding-section-top-bottom))
    var(--padding-section-sides);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon:nth-child(1) {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.icon:nth-child(2) {
  stroke-width: 1;
}

.newsletter_form {
  width: 90vw;
}

.container_input_button {
  display: flex;
}
