/* keyframes and animations */
@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.programs {
  --flow-space: var(--step-0);
  padding: calc(1.5 * var(--padding-section-top-bottom))
    var(--padding-section-sides);
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  height: var(--icon-height);
  width: var(--icon-width);
  stroke-width: 1;
  fill: none;
  opacity: 0;
  animation: fade_in 0.6s ease-in forwards;
  animation-delay: 0.6s;
}

.icon > * {
  stroke: var(--color);
  stroke-linecap: round;
  stroke-linejoin: round;
}

.headline {
  font-family: var(--font-heading);
  font-size: var(--step--2);
  margin-bottom: var(--spacing-base);
  color: var(--color);
  text-transform: uppercase;
  letter-spacing: var(--spacing-letter-base);
  opacity: 0;
  animation: fade_in 0.6s ease-in forwards;
  animation-delay: 0.6s;
}

.headline_sub {
  font-size: var(--step--2);
  margin-top: var(--spacing-quarter-half);
  letter-spacing: var(--spacing-letter-half);
}

.title {
  font-weight: 600;
  margin-bottom: var(--spacing-quarter-half);
}

.programs_grid {
  --w: 400px;
  --n: 2;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      clamp(100%/ (var(--n) + 1) + 0.1%, (var(--w) - 100vw) * 1000, 100%),
      1fr
    )
  );
  gap: 10px;
}

.programs_grid > article {
  position: relative;
  display: flex;
  flex-direction: column;
}

.programs_grid > article img {
  aspect-ratio: 16/9;
}
