/* keyframes and animations */
@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.programs {
  --flow-space: var(--step-0);
  padding: calc(1.5 * var(--padding-section-top-bottom))
    var(--padding-section-sides);
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.programs_grid {
  --w: 1200px;
  --n: 1;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      clamp(100%/ (var(--n) + 1) + 0.1%, (var(--w) - 100vw) * 1000, 100%),
      1fr
    )
  );
  gap: 10px;
}

.programs_grid > article {
  position: relative;
  display: flex;
  flex-direction: column;
}

.programs_grid > article:not(:first-child) {
  border-top-style: solid;
  border-top-color: var(--color-gray);
  border-top-width: var(--border-width-half);
  margin-top: 3rem;
  padding-top: 2.5rem;
}

.programs_grid > article > img,
.programs_grid > article > div > div {
  aspect-ratio: 16/9 !important;
  margin-top: 20px !important;
}

.programs_grid div {
  --flow-space: var(--step-0);
}

.programs_grid > article p,
.programs_grid > article ul {
  font-family: var(--font-copy);
  font-size: calc(0.95 * var(--step--2));
  color: var(--color);
  max-width: var(--measure);
}

.quotation {
  font-style: italic;
}
